body {
  background-color: #acc6aa;
}
ul {
  margin-left: 38%;
}
ol {
  margin-left: 43%;
}
p {
  text-align: center;
  font-size: 22px;
}
.contactimg {
  margin-left: 40%;

}

table {
margin-left: auto;
margin-right: auto;
}
td:hover{
  text-decoration: underline;
}
.header:hover{
  text-decoration: none;

}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 10px;
  width: 10%;
  }
  h1 {
    text-align: center;
  }
  h2 {
    background-color: white;
    text-align: center;
  }
  h3 {
    background-color: White;
    text-align: center;
  }
  h4 {
    color:#4e4e4e;
  }
  h5 {
    color:#4e4e4e;
  }
  h6 {
    color:#4e4e4e;
  }
